<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catalog.mapper.CardMapper">
    <select id="getCardsByIds" resultType="com.catalog.entity.Card" parameterType="java.util.List">
        select * from card where id in
        <foreach collection="ids" item = "id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="getCardsByKeyWord" resultType="com.catalog.entity.Card">
        select * from card
        <where>
            <if test="animal_name != null and animal_name != ''">
                or animal_name like concat('%',#{keyWord},'%')
            </if>
            <if test="species != null and species != ''">
                or species like concat('%',#{keyWord},'%')
            </if>
            <if test="personality != null and personality != ''">
                or personality like concat('%',#{keyWord},'%')
            </if>
            <if test="introduction != null and introduction != ''">
                or introduction like concat('%',#{keyWord},'%')
            </if>
        </where>
    </select>
    <select id="getAcceptedCardsByIds" resultType="com.catalog.entity.Card" parameterType="java.util.List">
        select * from card where id in
        <foreach collection="ids" item = "id" separator="," open="(" close=")">
            #{id}
        </foreach> and status = 1
    </select>
</mapper>