<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catalog.mapper.ImgMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into img(url, create_time, update_time, img_key)
        values(#{url}, #{createTime}, #{updateTime}, #{imgKey})
    </insert>
    <select id="getImageById" resultType="com.catalog.entity.Img">
        select * from img where id = #{id}
    </select>
</mapper>